<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="stylesheet" href="./assets/scss/app.scss">
        <script src="./assets/js/app/app.js" type="module" defer></script>
    </head>

    <body>
        <div class="app">
            <hgroup>
                <h1><%= title %></h1>
            </hgroup>
            <p>
                A simple HTML, Javascript, SCSS boilerplate with Parcel.
            </p>
        </div>
    </body>

</html>
